@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rowdies&display=swap");

:root {
  --height-header: 250px;
  --height-footer: 60px;
  --max-width-page: 1000px;
  --primary-color: #f7e92f;
  --secundary-color: #111;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: white;
}

body {
  min-height: 100vh;
  position: relative;
  padding-bottom: calc(var(--height-footer) + 20px);
  background-image: linear-gradient(
      180deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(178, 97, 78, 0.7175070711878502) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(../assets/image/jugadores-profesionales-de-hockey-sobre-hielo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  height: var(--height-header);
}

.container {
  max-width: var(--max-width-page);
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.title {
  display: none;
}

.nav-main {
  position: absolute;
  top: 75px;
  z-index: 300;
  width: 100%;
  text-align: center;
}

.nav-main a {
  font-family: "Rowdies", cursive;
  margin: 0 1.3em;
  font-size: 1.1em;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  position: relative;
}

.nav-main a::before {
  content: "";
  border-bottom: 2px solid var(--primary-color);
  width: 0;
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: width 0.3s;
}
.nav-main a:hover::before {
  width: 100%;
}

.nav-main a > span {
  font-family: inherit;
}
.nav-main a:nth-child(2) {
  margin-right: 200px;
}

.nav-main a.active {
  border-bottom: solid 2px var(--primary-color);
}


.section-title {
  margin-top: 1em;
  padding: .5em;
  font-family: "Rowdies";
  color: var(--primary-color);
  background-color: #f6e72f1a;
  padding: 10px 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.7rem;
}

.section-title > span {
  color: inherit;
  font-family: inherit;
}

.logo {
  width: 200px;
  position: absolute;
  top: 10px;
  left: calc(50% - 100px);
  z-index: 200;
}

.content-main {
  margin-top: 60px;
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
}

.content-main-title {
  font-size: 1.5rem;
  font-style: oblique;
  color: #f7e92f;
}

.content-main-detail {
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 1.3em;
  line-height: 1.5;
}

.gallery{
    width: fit-content;
    margin: 4em auto;
}

.gallery img{
    width: 300px;
    vertical-align: middle;
    margin: .5em
}

footer {
  height: var(--height-footer);
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: var(--height-footer);
  background-color: var(--secundary-color);
}

footer p {
  height: 100%;
  max-width: var(--max-width-page);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
